{% extends 'layout.html' %}

{% block container %}
<div class="col-10 text-white pt-5 mx-auto text-justify mb-5">

    <div class="container mt-5 mb-5 mx-auto">
        <div class="img-container mx-auto col-12 my-4">
            <img src="{{url_for('static', filename='images/gallery_2.jpg')}}" alt="" class="responsive img-thumbnail">
        </div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores magni veniam ab inventore dolor repudiandae nam cupiditate asperiores sed dolore architecto illo possimus porro libero voluptatem ratione rem, doloribus reprehenderit hic animi. Optio harum quo quos veritatis, dolores, natus, reprehenderit accusantium temporibus cumque ducimus sed! Mollitia molestiae ullam eum exercitationem asperiores deleniti accusantium suscipit consectetur voluptatibus? Corrupti sit laudantium deserunt eveniet provident vitae dignissimos rem, repudiandae adipisci. Quam, voluptatum sunt. Numquam facilis est saepe? Fugit, facilis soluta maxime vel necessitatibus corrupti animi amet beatae quod quos nam alias ratione. Sunt, odio possimus esse autem non perferendis provident et totam minus.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit temporibus quas illo quaerat nostrum ducimus eligendi, velit, earum harum molestias ea. In nisi odio consequuntur laborum illum impedit magnam accusantium unde sit officia dolores nam dolorem obcaecati enim eos voluptas dignissimos veritatis, corporis quibusdam atque. Soluta blanditiis fuga ut architecto vel aut maiores accusantium officia explicabo. Iste quasi possimus minus repellendus architecto sunt? Quos at cupiditate dolorum modi accusantium sint non expedita quod, blanditiis id, facere tempore maxime vel laboriosam consequuntur mollitia illo voluptatibus voluptatem quae quas, unde ea. Possimus sint at quas ab nobis veniam cupiditate nulla, ipsum voluptate.
    </div>
</div>

{% endblock %}